@charset "UTF-8";

#list {
	width:690px;
	margin:0 auto;

}

#list_title {
	width:664px;  
	padding-left:20px;
	height:40px;
	border:3px solid #D6D4A6;
	text-align:left;
	font-weight: bold;
	line-height:40px;
	font-size:10pt;
	/*margin-bottom:30px;*/
}

#list_header {
	height:27px;
}

#list_header #leftHeader{
	float:left;
	width:345px;
	text-align:left;
}
#list_header #rightHeader{
	float:right;
	width:345px;
	text-align:right;
}

#list_header .selectFiled {
	border:1px solid; 
	border-color:#666666; 
	background-color:#ffffff; 
	font-family:굴림; 
	font-size:20pt;
}
#list_header .textFiled {
	border:1px solid; 
	height:13px; 
	padding:2px 2px 2px 2px; 
	border-color:#666666; 
	background-color:#ffffff; 
	font-family:"굴림"; 
	font-size:20pt;
}

#list_list {
	clear:both;

}

#list_list dd,#list_list td {
	float:left;
	height:50px;
	line-height:50px;
	text-align:center;
}

#list_list #title {
	height:30px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	background-color: #E6E4E6;
}

#list_list #title dl, #list_list #title tr {
	height:27px;
	border-left:0px solid #5db062;
	border-right:0px solid #5db062;
}

#list_list #title dt,#list_list #title th {
	float:left;
	line-height:34px;
	text-align:center;
}

#list_list .num {width:50px;}
#list_list .subject {width:420px;}
#list_list .name {width:90px;}
#list_list .created {width:65px;}
#list_list .hitCount {width:60px;}

#list_list #lists {
	clear:both;
}

#list_list #lists dl, #list_list #lists tr {
	float:left;
	border-bottom:1px solid #E4E4E4;
}
#list_list #lists tr:last-child {
	float: none;
}

#list_list dd.subject, #list_list td.subject {
	width:410px;
	margin-left:10px;
	text-align:left;
}
#list_list a {
	line-height: 27px;
}

#list_list #footer {
	clear:both;
	height:32px;
	line-height:32px;
	margin-top:5px;
	text-align:center;
	float: none;
}