<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/created.css" />
</th:block>

<div id="bbs" layout:fragment="content">
	<form action="/created" method="post" name="myForm" enctype="multipart/form-data">
	<div id="bbsCreated" style="border: pink; width:700px; margin:0 auto;">
		
		<div class="bbsCreated_bottomLine" style="border: pink;">
			<dl>
				<dt style="background-color: pink; text-align: center;">제목</dt>
				<dd>
				<input type="text" name="subject" size="60" 
				maxlength="100" class="boxTF" style="border-radius: 10px;"/>
				</dd>
			</dl>		
		</div>
		
		<div class="bbsCreated_bottomLine" style="border-radius: 10px; border: pink;">
			<dl>
				<dt style="background-color: pink; text-align: center;">작성자</dt>
				<dd>
				<input type="text" name="name" size="35" 
				maxlength="20" class="boxTF" style="border-radius: 10px"/>
				</dd>
			</dl>		
		</div>
		
		<div id="bbsCreated_content" style="border: pink;">
			<dl>
				<dt style="background-color: pink; text-align: center;">내용</dt>
				<dd>
				<textarea rows="12" cols="63" name="content"
				class="boxTA" style="border-radius: 10px"></textarea>
				</dd>
			</dl>
		</div>
	
	</div>
	
	<div id="bbsCreated_footer" style="margin: 0 auto; padding-top:20px ; width: 300px">
		<input type="button" value=" 등록하기 " class="btn2" onclick="sendIt();" style="background-color: pink; border-radius: 10px;"/>
		<input type="reset" value=" 다시입력 " class="btn2" 
		onclick="document.myForm.subject.focus();" style="background-color: pink; border:none ; height: 25px; border-radius: 10px;"/>
		<input type="button" value=" 목록으로 " class="btn2" 
		onclick="javascript:location.href='/list';" style="background-color: pink; border-radius: 10px;"/>
	</div>
	</form>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	
    var errorMessage = [[${errorMessage}]];
    if(errorMessage != null){
        alert(errorMessage);
    }
   
	const sendIt = () => {
		
		var f = document.myForm;
		
		str = f.subject.value;
		str = str.trim();
		if(!str){
			alert("\n제목을 입력하세요.");
			f.subject.focus();
			return;
		}
		
		str = f.name.value;
		str = str.trim();
		if(!str){
			alert("\n이름을 입력하세요.");
			f.name.focus();
			return;
		}	
		
		str = f.content.value;
		str = str.trim();
		if(!str){
			alert("\n내용을 입력하세요.");
			f.content.focus();
			return;
		}

		f.submit();

	}

	</script>
</th:block>

</html>