<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/list.css"/>
</th:block>

<div id="list" layout:fragment="content">
	<div id="list_header">
		<div id="leftHeader">
		<form action="" method="post" name="searchForm">
			<select name="searchKey" class="selectField">
				<option value="subject">제목</option>
				<option value="name">작성자</option>
				<option value="content">내용</option>
			</select>
			<input type="text" name="searchValue" class="textField"/>
			<input type="button" value="검색" class="btn2" onclick="sendIt();"/> 
		</form>
		</div>
		<div id="rightHeader">
			<input type="button" value="문의하기" class="btn2" onclick="javascript:location.href='/created';"/>
		</div>
	</div>

	<div id="list_list">
		<table class="table">
  <thead>
    <tr>
      <th scope="col">순번</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">조회수</th>
    </tr>
  </thead>
  <tbody>
    <tr th:if="${#lists.size(lists)}>0" th:each="qnaboarddto:${lists}">
      <th scope="row" th:text="${qnaboarddto.num}"></th>
      <td>
      	<a th:href="|@{${articleUrl}}&num=@{${qnaboarddto.num}}|" th:text="${qnaboarddto.subject}">제목</a>
      </td>
      <td th:text="${qnaboarddto.name}">이름</td>
      <td th:text="${qnaboarddto.created}">날짜</td>
      <td th:text="${qnaboarddto.hitCount}">조회수</td>
    </tr>
  </tbody>
</table>
	</div>

</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	/*
        var errorMessage1 = [[${param.errorMessage}]]; //get방식으로 가져올때 대비
        var errorMessage2 = [[${errorMessage}]]; //post 방식으로 가져올때 대비

        if(errorMessage1 != null){
            alert(errorMessage1);
        }
        
        if(errorMessage2 != null){
            alert(errorMessage2);
        }
        
	    function sendIt(){
		   var f = document.searchForm;
		   f.action = "/list";
		   f.submit();
	    }
	    */
	</script>
</th:block>

	
</html>