<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qnaboard.dao.QnaBoardDao">

	<select id="maxNum" resultType="int">
		SELECT NVL(MAX(NUM), 0) FROM QNA
	</select>

	<insert id="insertData">
		INSERT INTO QNA VALUES(#{num}, #{name}, #{subject}, #{content}, SYSDATE, 0);
	</insert>

	<select id="getDataCount" parameterType="map" resultType="int">
		SELECT NVL(COUNT(*), 0) FROM QNA WHERE ${searchKey} LIKE '%' || #{searchValue} || '%'
	</select>

</mapper>